.titleHeader{
  height: 100%;
  width: 100%;
  color: white;
  font-size: 30px;
  font-weight: 800;
  line-height: 104%;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  font-family: 'Akrobat';
}

/* base setup reset */
input{
  background: none;
  border: none;
  outline: none;
  margin: 0;
  box-shadow: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

/* base setup reset */
button{
  all: unset;
}

.variantsSearch{
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  padding-top: 5px;
  text-transform: uppercase;
}

.nameVariant{
  display: flex;
  align-items: center;
  height: 100%;
  width: 45%;
}

.inputSearch{
  height: 100%;
  width: 60%;
  display: flex;
  align-items: center;
}

.inputClick{
  height: 40px;
  width: 80%;
  margin-left: auto;
  border-radius: 7px;
  background: rgba(0, 0, 0, 0.26);
  text-align: center;
  padding: 0 10px 0 10px;
}

.inputSearchDouble{
  display: flex;
  align-items: center;
  height: 40px;
  width: 55%;
}

.inputClickSearchDouble{
  height: 40px;
  width: 25%;
  border-radius: 7px;
  background: rgba(0, 0, 0, 0.26);
  text-align: center;
  margin-left: auto;
  padding: 0 10px 0 10px;
}

.textSearchDouble{
  margin-left: 10px;
}

.buttonResetBlock{
  width: 100%;
  height: 50px;
  padding-top: 10px;
}

.buttonReset {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  border-radius: 6px;
  background: radial-gradient(220.18% 198.25% at 50% 50%, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.00) 100%);
  overflow: hidden;
  z-index: 10;
}

.buttonResetText{
  z-index: 12;
}

.buttonReset::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 6px;
  background: radial-gradient(359.45% 198.46% at 50% 50%, #1C92FF 0%, #12395C 100%);
  opacity: 0;
  transition: opacity 0.5s;
  z-index: 11;
}

.buttonReset:hover::after{
  opacity: 1;
}

.buttonReset:active::after{
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.20) 100%), radial-gradient(359.45% 198.46% at 50% 50%, #1C92FF 0%, #12395C 100%);
}

.headerCategory{
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.listCategories{
  max-height: 80%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.blockCategory{
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.lineCategory{
  display: flex;
  align-items: center;
  padding-top: 5px;
  height: 30px;
  width: 100%;
}

.lineSubcategory {
  display: flex;
  align-items: center;
  padding-left: 9%;
  padding-top: 5px;
  height: 30px;
  width: 90%;
}

.checkMark{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  height: 25px;
  width: 25px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.06);
  background: rgba(255, 255, 255, 0.07);
}

.clickMark{
  height: 20px;
  width: 20px;
  background: white;
  clip-path: polygon(7px 16px, 7px 16px, 2px 11px, 2px 10px, 3px 10px, 7px 14px, 17px 4px, 18px 4px, 18px 5px, 7px 16px, 7px 16px);
}

.watchList{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15px;
  width: 15px;
  margin-left: 2px;
}

.clickList{
  height: 15px;
  width: 15px;
  /* background: rgba(255, 255, 255, 0.35);
  clip-path: polygon(8px 15px, 11px 11px, 11px 11px, 10px 11px, 8px 14px, 8px 0px, 7px 0px, 7px 0px, 7px 14px, 5px 11px, 4px 11px, 4px 11px, 4px 11px, 4px 11px, 4px 11px, 7px 15px, 7px 15px, 8px 15px, 8px 15px, 8px 15px); */
}

.listCategories::-webkit-scrollbar {
  width: 2px;
}

.listCategories::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.10);
}

.listCategories::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.43);
}

.buttonsWrapper{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.selling:last-child{
  margin-left: 5%;
}

.selling{
  position: relative;
  width: 45%;
  height: 50px;
  background: radial-gradient(220.18% 198.25% at 50% 50%, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.00) 100%);
  font-family: 'Akrobat';
  font-size: 17px;
  border-radius: 7px;
  text-transform: uppercase;
}

.sellingButton{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textSell{
  color: white;
  z-index: 999;
}

.selling::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 6px;
  background: radial-gradient(359.45% 198.46% at 50% 50%, #1C92FF 0%, #12395C 100%);
  opacity: 0;
  transition: opacity 0.5s;
  z-index: 11;
}

.selling:hover::after{
  opacity: 1;
}

.selling:active::after{
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.20) 100%), radial-gradient(359.45% 198.46% at 50% 50%, #1C92FF 0%, #12395C 100%);
}